@use '../../common/styles/colors/colors.scss' as colors;
@import '../../common/styles/typography/typography.scss';

.wrapper {
    width: 100%;
    height: 1920px;
    position: relative;
    overflow: hidden;
    background-color: currentColor;

    &.theme-1 {
        color: colors.$coffee;

        .heading-decor {
            color: colors.$coffeeLight;
        }
    }

    &.theme-2 {
        color: colors.$tea;

        .heading-decor {
            color: colors.$teaLight;
        }
    }

    &.theme-3 {
        color: colors.$coctail;
        
        .heading-decor {
            color: colors.$coctailLight;
        }
    }

    &.theme-4 {
        color: colors.$juice;

        .heading-decor {
            color: colors.$juiceLight;
        }
    }

}

.heading {
    position: relative;
    overflow: hidden;
    padding: 80px 20px;
}

.heading-decor {
    position: absolute;
    top: -330px;
    right: 65px;
    width: 450px;
    height: 940px;
}

.categories {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 5px rgba(0,0,0, 0.09);
}

.category-item {
    flex-shrink: 0;
    width: 100%;
    max-width: 270px;
    border-right: 1px solid #DCDCDC;
    background-color: colors.$lightGrey;
    padding: 10px;
    padding-bottom: calc(30px + 45px);
    cursor: pointer;

    &.active {
        position: relative;
        background-color: colors.$disabledGrey;

        span {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 8px);
            display: block;
            width: 109px;
            height: 53px;
            background-image: url('../../static/active_marker.png');
            background-size: contain;
            z-index: 10;
        }
    }

    &:first-child {
        border-top-left-radius: 45px;
    }

    &:last-child {
        border-top-right-radius: 45px;
        border-right: none;
    }

    p {
        text-align: center;
        max-width: 256px;
        margin: 0 auto;
    }

    &.active .category-item__img::after {
        content: '';
        position: absolute;
        bottom: 13px;
        left: 50%;
        transform: translateX(-50%);
        width: 161px;
        height: 161px;
        border-radius: 50%;
        background-color: currentColor;
    }
}

.category-item__img {
    position: relative;
    width: 100%;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 2;
    }
}

.products {
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 2;
    border-radius: 45px;
    margin-top: -45px;
    padding: 87px 20px 67px;
    filter: drop-shadow(0 -10px 75px rgba(0,0,0, 0.09));

    h2 {
        position: relative;
        z-index: 2;
    }
}

.products__header {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: -42px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        display: block;
        width: 147px;
        height: 147px;
        background-color: currentColor;
        z-index: 1;
    }
}

.products__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 62px;
    height: 1007px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    border: 1px solid colors.$outlineGrey;
    padding: 22px 17px 24px; 
    color: colors.$black;
    text-align: center;

    & > * {
        width: 100%;
    }

    .product-card__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 296px;
        height: 296px;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h5 {
        @extend .text-small;
        margin-top: 42px;
        flex-grow: 1;
    }

    p {
        font-family: 'Mont-Semibold';
        font-size: 40px;
        font-weight: 700;
        line-height: 111%;
        margin-top: 1px;

        span {
            font-size: 64px;
            line-height: 111%;
        }
    }
}