@use '../../common/styles/colors/colors.scss' as colors;
@import '../../common/styles/typography/typography.scss';

.wrapper {
    width: 100%;
    height: 100%;
    background-color: colors.$white;
    padding: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}

$size: 875px;
$bg: #EAEAEA;
$fg: colors.$yellow;
$dotR: 24px;

@property --progress {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --timerDuration {
    syntax: '<time>';
    inherits: true;
    initial-value: 0s;
}

.circle {
    position: relative;
    width: $size;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(255, 214, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: growProgressBar var(--timerDuration) linear forwards;
    background: radial-gradient(closest-side, white 99%, transparent 0 99.9%, white 0), conic-gradient($fg calc(var(--progress) * 1%), $bg 0);
    color: $fg;

    span {
        font-family: 'Mont-Light';
        display: block;
        text-align: center;
    }

    &::after {
        content: '';
        position: absolute;
        height: calc($size / 2 + $dotR);
        width: calc(10 / 100 * $size + 20px);
        top: calc($dotR * -1);
        left: 50%;
        transform: translateX(-50%) rotate(calc(var(--progress) / 100 * 360deg));
        transform-origin: 50% 100%;
        animation: growProgressBar var(--timerDuration) linear forwards;
        z-index: 1;
        background-image: radial-gradient($fg 50%, transparent 50% 100%);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: calc($dotR * 2) calc($dotR * 2);
    }
}

.timer {
    color: colors.$black;
    font-size: 260px;
    line-height: 260px;
    font-variant-numeric: tabular-nums;
}

.status {
    font-weight: 600;
    font-size: 40px;
    line-height: 141%;
    color: #a7a7a7;
}

@keyframes growProgressBar {
  0%{
    --progress: 0;
  }
  100% {
    --progress: 100;
  }
}